@charset "ISO-8859-1";
body{
	margin:0;
	padding:0;
}
.desc{
	text-align:center;
	margin:0 200px 0 200px;
}
.desc h3{
	border-bottom:2px solid black;
	display:block;
	
}
.description .cncFiveAxis{
	display:flex;
	justify-content:center;
	align-items:center;
}
.Mdesc{
	text-align:left;
	margin:0 200px 0 200px;
}
.Mdesc h3{
	border-bottom:2px solid black;
	display:inline-block;
}
.spot{
	text-align :center;
}
.spot h3{
	border-bottom:2px solid black;
	display:inline-block;
}